{{!< default}}

{{! This is the home page template. It loops though all your posts and displays them. }}
    
    {{#get "posts" include="tags" filter="featured:true" as |featured|}}
    <ul class="slider">
        {{#foreach featured}}
        <li class="gallery-cell">
            <a href="{{url}}">   
                <div class="slider-image" style="background-image: url({{image}})">
                    <div class="info">
                        {{#if tags}}
                            <div class="post-tags">{{tags separator=" | " autolink="false" limit="3"}}</div>
                        {{/if}}
                        <h2>{{title}}</h2>
                    </div>
                </div>
            </a>
        </li>
        {{/foreach}}
    </ul>
    {{/get}}
        
    <div class="wrapper posts clearfix">   

        {{#foreach posts}}
        <div class="{{post_class}}">
            <a href="{{url}}">
                <div class="featured-image {{^if image}}no-featured-image{{/if}}" {{#if image}} style="background-image:url({{image}})" {{/if}}></div>
            </a>
                <section class="post-info">
                    {{#if tags}}
                        <div class="post-tags">{{tags separator=" | " limit="3"}}</div>
                    {{/if}}
                    
                    <h2 class="post-title">
                        <a href="{{url}}">{{{title}}}</a>
                    </h2>
                    
                    <div class="post-meta">
                        <span class="post-author">By {{author}}</span>
                        <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}"> - {{date format="MMMM D"}}</time>
                    </div>
                </section> 
            
        </div>
        {{/foreach}}
    </div>
    
    {{!! Pagination links }}
    {{pagination}}
